/*CHECKOUT PAGE*/

#checkout h1 {
  text-align: center;
}

.checkout-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.payment {
  flex: 1;
  margin: 0px 10px;
}

.personal-information h2, .payment h2 {
  font-size: 28px;
}

.payment-invoice h3, .payment-vipps h3, .payment-card h3 {
  font-size: 24px;
  text-align: center;
}


.personal-information .payment-content-wrap {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

.payment-content-wrap {
  display: flex;
  flex: 1;
}

.payment-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment-card h3 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-form {
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
  margin-bottom: 40px;
}

.card-form form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.card-form input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
}

.card-form label {
  font-size: 20px;
  margin: 20px 0px 0px 30px;
}

.expiry-cvc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.expiry, .cvc{
  display: flex;
  flex-direction: column;
}

.cvc input{
  max-width: 150px;
}

.purchase-button {
  margin-top: 20px;
  padding: 10px 100px;
}

.purchase-buttons {
  display: flex;
  justify-content: center;
}

.your-information {
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.your-information p {
  margin-left: 20px;
  margin-right: 20px;
}


.how-to-pay div {
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 8px;
}

input[type='radio']{
  transform: scale(2);
  margin-left: 20px;
  margin-top: -1px;
  vertical-align: middle;
}

.how-to-pay {
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.personal-information {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.vipps-logo {
  display: flex;
  justify-content: center;
}

.vipps-image {
  border-radius: 10px;
  max-width: 50px;
}